# =========================
# Java / JVM
# =========================

# Compiled classes
java/*.class
java/bin/

# Logs
java/*.log

# Crash logs
java/hs_err_pid*
java/replay_pid*

# BlueJ
java/*.ctxt

# J2ME
java/.mtj.tmp/

# =========================
# Build & Package Files
# =========================

java/*.jar
java/*.war
java/*.nar
java/*.ear

# Archives
java/*.zip
java/*.tar.gz
java/*.rar

# Build directories
java/build/
java/.gradle/

# =========================
# IDE & Tooling
# =========================

# IntelliJ
.idea/

# Eclipse
java/.settings/
java/.classpath
java/.settings/org.eclipse.buildship.core.prefs

# Zed editor
.zed

# =========================
# Environment / Config
# =========================

# Environment variables
java/.env
!java/.env.example
