# Compiled class file
java/*.class
java/bin

# Log file
java/*.log

# BlueJ files
java/*.ctxt

# Mobile Tools for Java (J2ME)
java/.mtj.tmp/

# Package Files #
java/*.jar
java/*.war
java/*.nar
java/*.ear
java/*.zip
java/*.tar.gz
java/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
java/hs_err_pid*
java/replay_pid*

# Ignore Gradle project-specific cache directory
java/.gradle

# Ignore Gradle build output directory
java/build

java/.env
!java/.env.example
.idea/
.zed
java/.settings/org.eclipse.buildship.core.prefs
